body {
    background: lightskyblue;
  }
    p {
      color:  cadetblue;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    a {
        color: hotpink;
      }
      a:link, a:visited {
        background-color:  blue;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: rgb(106, 255, 89);
      }
      il{
color: #17dd09;

      }
      .notaddingsoon{
        color: #ff3d3d;
      }

      input{
        background-color:rgb(29, 47, 206);
        color: #ffffff ;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      input:hover input:active{
        background-color: rgb(29, 47, 206);
      }
      input:link, input:visited {
        background-color:  rgb(29, 47, 206);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }body {
    background: lightskyblue;
  }
    p {
      color:  cadetblue;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    a {
        color: hotpink;
      }
      a:link, a:visited {
        background-color:  blue;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: rgb(106, 255, 89);
      }
      il{
color: #17dd09;

      }
      .notaddingsoon{
        color: #ff3d3d;
      }

      input{
        background-color:rgb(29, 47, 206);
        color: #ffffff ;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      input:hover input:active{
        background-color: rgb(29, 47, 206);
      }
      input:link, input:visited {
        background-color:  rgb(29, 47, 206);
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }